@import url('http://fonts.googleapis.com/css?family=Aldrich');

#banner {
	background-image: url('images/banner');
	width:1360px;
	height:480px;
	margin:auto;
	margin-top:-8px;
	background-color: #222222;
	background-position: 0px;
	background-repeat: no-repeat;
	color: #d7d7d7;
}

#navbar {
	width:1360px;
	height:30px;
	margin:auto;
	margin-top:2px;
	padding-top:4px;
	background-color: #222222;
	text-align:center;
	color:white;



}

ul.pagination {
	display: inline-block;
 	padding: 0;
	margin: 0;
}

ul.pagination li {display: inline;

}

ul.pagination li a {
	color: white;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}
ul.pagination li a.active {
	background-color: white;
	color: #222222;
	border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
	color: #222222;
}


#navbar a{
	margin:0px 20px 0px 20px;
	font-size:20px;
	color:white;
	text-decoration:none;
	
}

#login {
	width:1360px;
	height:30px;
	margin:auto;
	margin-top:2px;
	background-color: #222222;
	padding-top:3px;
	color:white;

}

#login form {
	margin-top:2px;
	text-align:center;

}

.content{
	text-align:left;
	color:white;
	margin:5px 200px 5px 200px;
	padding:0px 50px 00px 50px;
	border-style:solid;
	border-color: white; 
}

#main{
	width:1360px;
	height:auto;
	margin:auto;
	padding:auto;
	margin-top:2px;
	background-color: #222222;
	text-align:center;

}

#main h1{
	margin:auto;
	color:white;
	padding-top:5px;
	
}

#main table{
	margin:auto;
	color:white;
	margin-bottom:-14px;
	margin-top:5px;
	}

#mes{
	width:20em;
	height:4em;
	text-align:top;
	
}

#regiwrap{
	height:390px;
}

#gallerytable{
	text-align:center;
	margin-bottom:35px;
	padding-bottom:30px;

}
#gallerytable td{
	border-style:solid;
	border-color: white; 
	margin:25px 25px 25px 25px;
	padding:8px;
	width: 30%;
	
}

#gallerywrap{
	/*margin-bottom:16px;*/
	margin:auto;
	padding:5px;
}

.galleryimg {
	width:320px;
	height:180px;
}

html{
	background-image: url('images/back.png');
	background-position: 0px;
	background-repeat: repeat;
	font-family: 'Aldrich', sans-serif;
}
footer{
	background-color: #222222;
	margin:auto;
	margin-top:2px;
	width:1360px;
	height:auto;
	color:white;
	text-align:center;
}



